.header
    .container
        .row
            .col-3
                .nav-btn-ctnr(routerLink="/", [ngClass]="{active: isPathActive('home')}")
                    .nav-btn
                        .fas.fa-home
                    p.title Home
            .col-3
                .center-left
                    .nav-btn-ctnr((click)="openAboutModal()")
                        .nav-btn
                            .fas.fa-question
                        p.title About
            .col-3
                .center-right
                    .nav-btn-ctnr((click)="openSettingsModal()")
                        .nav-btn
                            .fas.fa-cog
                        p.title Settings
            .col-3
                .right
                    .nav-btn-ctnr((click)="openProfileModal()")
                        .nav-btn
                            .fas.fa-user
                        p.title Profile

ng-template(#aboutModal, let-c="close")
    .modal-body.about-modal
        .fas.fa-times((click)="c()")
        p.title About
        a.btn.btn-primary(href="https://en.wikipedia.org/wiki/Reversi#Rules" target="_blank" referrer="noreferrer") How to play
        p.created Created by Jordan Luyke

ng-template(#settingsModal, let-c="close")
    .modal-body.settings-modal
        .fas.fa-times((click)="c()")
        p.title Settings
        .form-check.form-check-inline
            input.form-check-input#delayCheckbox(type="checkbox", [(ngModel)]="settings.delayEnabled", (ngModelChange)="onDelayEnabledChange()", disabled)
            label.form-check-label(for="delayCheckbox") Move delay

ng-template(#profileModal, let-c="close")
    .modal-body.profile-modal
        .fas.fa-times((click)="c()")
        p.title Profile
        .sign-in(*ngIf="!accountService.loaded")
            p Please&nbsp;
                a(routerLink="/", (click)="c()") sign in
                span .
        .profile(*ngIf="accountService.loaded")
            p Matches: {{accountService.account.stats.matches}}
            p Account ID: {{accountService.account.id}}
            .center
                a.btn.btn-danger(routerLink="/logout", (click)="c()") Logout
