header-component

.container
    .row
        .col-md-4.offset-md-4.col-sm-6.offset-sm-3
            .sign-in-ctnr
                div(*ngIf="reqInProgress")
                    .center
                        .fas.fa-circle-notch.fa-spin
                div(*ngIf="!reqInProgress")
                    .initial-ctnr(*ngIf="!accountService.loaded")
                        button.btn.btn-success.btn-guest((click)="clickGuest()") Play as Guest
                        .divider: span.text or
                        .btn.btn-primary.facebook((click)="clickFbLogin()") Sign in with Facebook
                        .btn.btn-primary.google((click)="clickGoogleLogin()") Sign in with Google
                    .logged-in-ctnr(*ngIf="accountService.loaded")
                        input.form-control.name-input([(ngModel)]="name", (ngModelChange)="onNameChange($event)", name="name", maxlength="40", placeholder="Name", required, autofocus)
                        .divider
                        button.btn.btn-primary((click)="clickFindGame()") Find Game
                        button.btn.btn-success.btn-create((click)="clickCreateGame()") Create Game
